@model UsuarioModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bem-Vindo(a), @Model.Name!</h1>
    <p>Construindo um WebApp com MVC</p>
    <span>Seu email cadastrado: <strong>@Model.Email</strong></span>
</div>
