@{
    Layout = "_LayoutDeslogado";
    ViewData["Title"] = "Página Restrita!";
}

<h4>Você <span class="text-danger">não tem permissão</span> para acessar esta página!</h4>
<span><a asp-controller="Home" asp-action="Index">Clique aqui para voltar para o início!</a></span>