html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

@media screen and (max-width: 640px) {
    .dataTables_wrapper .dataTables_length {
        float: left !important;
        text-align: center;
    }

    .dataTables_wrapper .dataTables_filter {
        margin-top: 0px !important;
        display: inline-block !important;
        float: right !important;
    }
} 

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#tabelaContatos,
#tabelaUsuarios {
    width: 100% !important;
}

.table-responsive::-webkit-scrollbar {
    width: 0px;
}

.field-validation-error {
    color: #c60000;
}
