@model ContatoModel
@{
    ViewData["Title"] = "Adicionar contato";
}

<h2 class="display-6">Adicionar novo contato</h2>

<form class="row g-3" asp-controller="Contato" asp-action="Criar" method="post">
  <div class="col-md-6">
    <label for="inputEmail4" class="form-label">Nome</label>
    <input asp-for="Name" type="text" class="form-control" id="inputNome">
  </div>

  <div class="col-md-6">
    <label for="inputPassword4" class="form-label">Email</label>
    <input asp-for="Email" type="email" class="form-control" id="inputEmail">
  </div>

  <div class="col-md-3">
    <label for="inputZip" class="form-label">Celular</label>
    <input asp-for="Celular" type="text" class="form-control" id="inputCelular">
  </div>

  <div class="col-12">
    <button type="submit" class="btn btn-primary">Adicionar</button>
    <a class="btn btn-secondary" role="button" asp-controller="Contato" asp-action="Index">Cancelar</a>
  </div>
</form>