@{
    ViewData["Title"] = "Editar contato";
}

<h2 class="display-6">Editar contato</h2>

<form class="row g-3">
  <div class="col-md-6">
    <label for="inputEmail4" class="form-label">Nome</label>
    <input type="email" class="form-control" id="inputEmail4">
  </div>

  <div class="col-md-6">
    <label for="inputPassword4" class="form-label">Email</label>
    <input type="email" class="form-control" id="inputPassword4">
  </div>

  <div class="col-md-3">
    <label for="inputZip" class="form-label">Celular</label>
    <input type="text" class="form-control" id="inputZip">
  </div>

  <div class="col-12">
    <button type="submit" class="btn btn-primary">Confirmar</button>
    <a class="btn btn-secondary" role="button" asp-controller="Contato" asp-action="Index">Cancelar</a>
  </div>
</form>


